.emoji-laugh {
  background: url("../image/emoji-sprite-map.png");
  background-position: -0px -0px !important;
}

.emoji-teeth {
  background: url("../image/emoji-sprite-map.png");
  background-position: -64px -0px !important;
}

.emoji-laugh_cry {
  background: url("../image/emoji-sprite-map.png");
  background-position: -128px -0px !important;
}

.emoji-squint {
  background: url("../image/emoji-sprite-map.png");
  background-position: -192px -0px !important;
}

.emoji-sweating {
  background: url("../image/emoji-sprite-map.png");
  background-position: -256px -0px !important;
}

.emoji-laugh-squint {
  background: url("../image/emoji-sprite-map.png");
  background-position: -320px -0px !important;
}

.emoji-surprised {
  background: url("../image/emoji-sprite-map.png");
  background-position: -384px -0px !important;
}

.emoji-angel {
  background: url("../image/emoji-sprite-map.png");
  background-position: -448px -0px !important;
}

.emoji-miser {
  background: url("../image/emoji-sprite-map.png");
  background-position: -512px -0px !important;
}

.emoji-sleep {
  background: url("../image/emoji-sprite-map.png");
  background-position: -576px -0px !important;
}

.emoji-love {
  background: url("../image/emoji-sprite-map.png");
  background-position: -0px -64px !important;
}

.emoji-disdain {
  background: url("../image/emoji-sprite-map.png");
  background-position: -64px -64px !important;
}

.emoji-dissatisfied {
  background: url("../image/emoji-sprite-map.png");
  background-position: -128px -64px !important;
}

.emoji-unhappy {
  background: url("../image/emoji-sprite-map.png");
  background-position: -192px -64px !important;
}

.emoji-star {
  background: url("../image/emoji-sprite-map.png");
  background-position: -256px -64px !important;
}

.emoji-alien {
  background: url("../image/emoji-sprite-map.png");
  background-position: -320px -64px !important;
}

.emoji-cry {
  background: url("../image/emoji-sprite-map.png");
  background-position: -384px -64px !important;
}

.emoji-pout {
  background: url("../image/emoji-sprite-map.png");
  background-position: -448px -64px !important;
}

.emoji-skeleton {
  background: url("../image/emoji-sprite-map.png");
  background-position: -512px -64px !important;
}

.emoji-poop {
  background: url("../image/emoji-sprite-map.png");
  background-position: -576px -64px !important;
}

.emoji-pout-love {
  background: url("../image/emoji-sprite-map.png");
  background-position: -0px -128px !important;
}

.emoji-face-down {
  background: url("../image/emoji-sprite-map.png");
  background-position: -64px -128px !important;
}

.emoji-satisfied {
  background: url("../image/emoji-sprite-map.png");
  background-position: -128px -128px !important;
}

.emoji-o-ring {
  background: url("../image/emoji-sprite-map.png");
  background-position: -192px -128px !important;
}

.emoji-glasses {
  background: url("../image/emoji-sprite-map.png");
  background-position: -256px -128px !important;
}

.emoji-show-love {
  background: url("../image/emoji-sprite-map.png");
  background-position: -320px -128px !important;
}

.emoji-blush-unhappy {
  background: url("../image/emoji-sprite-map.png");
  background-position: -384px -128px !important;
}

.emoji-blush-tongue {
  background: url("../image/emoji-sprite-map.png");
  background-position: -448px -128px !important;
}

.emoji-satisfied-tongue {
  background: url("../image/emoji-sprite-map.png");
  background-position: -512px -128px !important;
}

.emoji-angry {
  background: url("../image/emoji-sprite-map.png");
  background-position: -576px -128px !important;
}
